<div class="container  mt-4 ml-0" style="background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */">
    <div class="row">       
        <div class="input-group col-12 col-md-6 mt-1">                      
            <div class=" input-group-append">   
                <h4 class="text-center  text-warning mt-3">Editar de Articulos</h4>               				  				
            </div>	
        </div> 
    </div>
</div>
<div class="form novalidate border-double border-primary mt-2">
    <div class="row mt-3 form-group ml-2 mr-2">
        <div class="col-md-6">
            <label class="text-primary">Id Articulo</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.idArticulo"           
            readonly >
        </div>
        <div div class="col-md-6">
            <label class="text-primary">Descripcion</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.descripcion">
       </div>             
    </div>
    <div class="row mt-3 form-group ml-2 mr-2">
        <div class="col-md-6">
            <label class="text-primary">Presentacion</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.presentacion">
        </div>
        <div div class="col-md-6">
            <label class="text-primary">Codigo</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.codigo">
           
       </div>             
    </div>
    <div class="row mt-3 form-group ml-2 mr-2">
        <div class="col-md-6">
            <label class="text-primary">Codigo de Barra</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.barra">
        </div>
        <div div class="col-md-6">
            <label class="text-primary">Marca</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.idMarca">
        </div>
    </div>
    <div class="row mt-3 form-group ml-2 mr-2">
        <div class="col-md-6">
            <label class="text-primary">Proveedor</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.idProveedor">
        </div>
        <div div class="col-md-6">
            <label class="text-primary">Rubro</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.idRubro">
        </div>
    </div>
    <div class="row mt-3 form-group ml-2 mr-2">
        <div class="col-md-6">
            <label class="text-primary">Costo</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.precioCompra">
        </div>
        <div class="col-md-6">
            <label class="text-primary">Margen de utilidad</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.margen">
        </div>        
    </div>
    <div class="row mt-3 form-group ml-2 mr-2">
        <div div class="col-md-6">
            <label class="text-primary">Precio</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.precioVenta">
        </div>
        <div div class="col-md-6">
            <label class="text-primary">Precio Oferta</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.precioOferta">
        </div>
    </div>
    <div class="row mt-3 form-group ml-2 mr-2">
        <div class="col-md-6">
            <label class="text-primary">Descuento %</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.porcentajeDescuento">
        </div>
        <div div class="col-md-6">
            <label class="text-primary">Precio Oferta</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.precioOferta">
        </div>
    </div>
    <div class="row mt-3 form-group ml-2 mr-2">
        <div class="col-md-6">
            <label class="text-primary">Punto de pedido</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.puntoPedido">
        </div>
        <div div class="col-md-6">
            <label class="text-primary">Vigencia Oferta</label>
            <input class="form-control"
            type="text"
            [(ngModel)]="articulos.iva">
        </div>
    </div>
</div>
    <div class="mt-2 " align="center"  style="background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%);min-height: 60px; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */">
        <button class="btn btn-primary mt-2 " type="button" (click)="onSubmit()">Retornar a la lista de artículos</button>
        <button class="btn btn-primary mt-2 ml-5" type="button" (click)="actualizarArticulo()">Guardar Cambios</button>
    </div>
    
