<nav class="mt-5 navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <h2 class="text-white mx-auto">Sistema Gestión de Ventas</h2>
    </div>
  </nav>
  
<body class="body" style="background-color: rgb(224, 239, 239);">  
    <br>   
     
    <div class="container p-0">     
      <img class="center-img mb-5" [src]="rutaIcono" alt="Mi Icono">
    </div>
    
    <div class="footer mb-5">
        <footer class="footer bg-dark text-white">
          <p class="mb-1">© 2023 Eternal  wisdom. Todos los derechos reservados.</p>
          <p class="mb-1">Telefono: 264-576-0075 - Correo: alexisargentina1Ogmail.com</p>             
        </footer>
    </div>  
</body>
    